.wrapper {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 9px 16px;
  min-width: 100px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  .icon-left {
    padding-right: 8px;
  }
  .icon-right {
    padding-left: 10px;
  }
}
.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      var(--primary);
  }
}

.outline {
  color: var(--primary);
  outline: 1px solid currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
//Disable
.disable {
  pointer-events: none;
  opacity: 0.5;
}

//Button size
.small {
  min-width: 88px;
  padding: 6px 14px;
}
.large {
  padding: 14px 16px;
  min-width: 140px;
}
