@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;
  --black: #000;
  --brown: #ccc;
  --brown-1: #ddd;
  --brown-2: #eee;
  --grey: rgba(22, 24, 35, 0.75);
  --grey-1: rgba(22, 24, 35, 0.5);
  --grey-2: rgba(22, 24, 35, 0.25);
  --grey-3: rgba(22, 24, 35, 0.05);
  --white: #fff;
  --text-color: #333;

  //default layout
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  // font-family: 'Concert One', cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed; //tối ưu tốc độ// nếu chưa tải xong thì hiển thị default
  line-height: 1.5;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
