@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;

  //default layout
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  // font-family: 'Concert One', cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed; //tối ưu tốc độ// nếu chưa tải xong thì hiển thị default
  line-height: 1.5;
}
