.wrapper {
  padding: 8px 6px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  font-size: 14px;
  position: relative;
  width: max-content;
}
.wrapper::after {
  content: "";
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
