.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: var(--white);
  .inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        height: 42px;
        width: 118px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;

      li {
        .btn-icon {
          min-width: 0;
          padding: 0px 10px;
        }
        .btn-content {
          margin-right: 10px;
        }
        .tooltip {
          color: var(--white);
          font-weight: 500;
          padding: 6px 4px;
          border-radius: 8px;
        }
      }
      .btn-more {
        font-size: 18px;
        padding: 10px 4px;
        background-color: transparent;
      }
      .avatar {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
      }
      .avatar > * {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
      }
    }
  }
}
