.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--grey-1);
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
  }
}
.item {
  min-width: max-content;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin-left: 0 !important;
  border-radius: unset;
  padding: 10px 16px;
  cursor: pointer;
  min-width: 223px;

  &:hover {
    background-color: var(--brown-2);
  }
}
.topLine {
  border-top: 1px solid var(--brown-1);
}

.header {
  position: relative;
  height: 40px;
  width: 100%;
  flex-shrink: 0;
}
.back-btn {
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  .header-icon {
    font-size: 20px;
    width: 60px;
  }
}
.header-title {
  height: 100%;
  line-height: 40px;
  font-size: 15px;
  font-weight: 500;
  pointer-events: none;
  user-select: none;
  text-align: center;
}
