.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: var(--default-layout-header-width, 1150px);
  padding-top: var(--default-layout-header-height);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 356px;
}
.content {
  width: 692px;
  background-color: #ccc;
  flex: 1;
}
.header {
  position: fixed;
}
