.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 361px;
  height: 46px;
  position: relative;
  background-color: var(--brown-2);
  border-radius: 92px;
  overflow: hidden;

  .input {
    flex: 1;
    padding: 12px 16px;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
    caret-color: var(--primary);
  }
  .clear,
  .loading {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    display: none;
  }
  .isLoading {
    display: inline-block;
  }
  .loading > * {
    animation: rotate360 linear 1s infinite;
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .search-btn {
    padding: 11px 16px 11px 12px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--brown);
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: var(--brown-1);
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: var(--brown-1);
      left: 0;
      top: 6px;
      bottom: 6px;
    }
    &:active {
      background-color: var(--brown-2);
    }
  }
  .searching {
    color: var(--grey-1);
  }
}
.isFocus {
  outline: 1px var(--brown-1) solid;
}

.search-result {
  width: 361px;
  .search-title {
    padding: 5px 12px;
    font-size: 14px;
    color: var(--grey-1);
  }
  .accounts-result {
    list-style: none;

    li {
      cursor: pointer;

      &:hover {
        background-color: var(--brown-2);
      }
    }
  }
}
