.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  .inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        height: 42px;
        width: 118px;
      }
    }
    .isLoading {
      display: inline-block !important;
    }
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 361px;
      height: 46px;
      position: relative;
      background-color: var(--brown-2);
      border-radius: 92px;
      overflow: hidden;

      .input {
        flex: 1;
        padding: 12px 16px;
        outline: none;
        border: none;
        font-size: 14px;
        background-color: transparent;
        caret-color: var(--primary);
      }
      .clear,
      .loading {
        position: absolute;
        background-color: transparent;
        outline: none;
        border: none;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--text-color);
        display: none;
      }
      .loading > * {
        animation: rotate360 linear 1s infinite;
      }
      @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .search-btn {
        padding: 11px 16px 11px 12px;
        font-size: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--brown);
        position: relative;
        cursor: pointer;
        &:hover {
          background-color: var(--brown-1);
        }
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          background-color: var(--brown-1);
          left: 0;
          top: 6px;
          bottom: 6px;
        }
        &:active {
          background-color: var(--brown-2);
        }
      }
      .searching {
        color: var(--grey-1);
      }
    }
    .isFocus {
      outline: 1px var(--brown-1) solid;
    }
    .tool {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;

      li {
        padding: 0 12px;
        position: relative;

        .tooltip {
          position: absolute;
          display: none;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 10px);
        }
        .setting {
          background-color: var(--white);
          transform: translate(-86%, 10px);
        }
        .btn-upload {
          position: relative;
          padding-left: 34px;
          background-color: var(--white);

          &::after {
            content: "+";
            font-size: 30px;
            font-weight: 300;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
          }
        }
        .btn-login {
          background-color: var(--primary);
          color: var(--white);
        }
        &:hover .tooltip {
          display: inline-block;
        }
      }
      li a {
        font-size: 20px;
        color: var(--text-color);
      }
      .avatar img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
      }
    }
  }
}

.search-result {
  width: 361px;
  .search-title {
    padding: 5px 12px;
    font-size: 14px;
    color: var(--grey-1);
  }
  .accounts-result {
    list-style: none;

    li {
      cursor: pointer;

      &:hover {
        background-color: var(--brown-2);
      }
    }
  }
}
